.buttonActive{
    background-color: white;
    color: black !important;
}
.buttonInactive{
    background-color: transparent;
    color: black !important;
    border: solid;
    border-color: #b8b8b8;
}

.buttonInactive:hover{
    background-color:#b8b8b8;
    color: black !important;
    border: solid;
    border-color: #b8b8b8;
}

.buttonActive:hover{
    background-color: white;
    color: black !important;
}

.hiddenStyle{
    visibility: hidden;
    display: none;
}
.showStyle{
    visibility: visible;
    display: block;
}

#butCotizar{
    background-color: white;
    color: black;
    border-color: white;
}
#butCotizar:hover{
    background-color: #e0e0e0;
    color: black;
    border-color: #e0e0e0;
}