*{
    margin: 0;
    padding: 0;
}

#firstPage{
    background-color: white;
    /*background-image:url(../img/web-banner-c2s-flower.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

#navBar{
    padding:0;
    margin: 0;
    width: 100%;
    background-color: rgba(255,255,255);
}
#navBar a{
    background-color: transparent;
}

.navE{
    color: white !important;
}

#title{
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    text-align: right;
    font-weight: 400;
}


#title-description{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

#parentButton{
    text-align: right;
    padding-top: 30px; 
    text-decoration: none;
    padding-right: 45px;
}  

#productButton{
    color: #8e8e8e;
    font-family: 'Lato', sans-serif;
    border-style: solid; 
    text-decoration: none;
    padding: 20px
}

#productButton:hover{
    background-color: #eff6f6;
    color: black;
    border-color: #eff6f6;
}

.parentSocialMedia{
    padding-top: 10px; 
    padding-right:45px; 
    text-decoration: none;
}

.socialMedia{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
}

.imageSocial{

}

.socialMediaText a{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    text-align:right;
    padding-left: 10px;
    margin: 0px;
    text-decoration: none;
}

.hiddenStyle{
    visibility: hidden;
    display: none;
}
.showStyle{
    visibility: visible;
    display: block;
}



/*@media (max-aspect-ratio: 1/1) {*/
@media only screen and (max-width: 3000px)  {
    #firstPage{
        background-color: white;
        background-image:url(../img/web-banner-c2s-flower.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #navBar{
        padding:0;
        margin: 0;
        width: 100%;
        background-color: rgba(255,255,255);
    }
    
    #navBar a{
        background-color: transparent;
    }
    
    .navE{
        color: white !important;
    }

    .navE a{
        color: rgb(80, 80, 80) !important;
    }

    .active a{
        color: black !important;
    }

    #title{
        text-align: center;
        color: white;
        font-size: 70px;
        /*font-size: 9vw;*/
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding-top: 0px;
    }

    #title-description{
        color: white;
        text-align: center;
        font-size:55px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }

    #parentButton{
        width: 100%;
        text-align: center;
        padding-top: 30px;
        text-decoration: none;
    }

    #productButton{
        font-size: 20px;
        text-align: center;
        color: white;
        font-family: 'Lato', sans-serif;
    }

    #productButton:hover{
        background-color: #eff6f6;
        color: black;
        border-color: white;
    }
    .parentSocialMedia{
        width: 100%;
        text-align: center;
        padding-top: 19px; 
        text-decoration: none;
    }
    .socialMedia{
        align-items: center;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    
    .socialMediaText a{
        display: block;
        float: none;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
        text-align: center;
    }

}
@media only screen and (max-width: 2000)  {
    #title{
        text-align: center;
        color: white;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding-top: 0px;
    }

    #title-description{
        color: white;
        text-align: center;
        font-size:35px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
    .socialMediaText a{
        display: block;
        font-size: 15px;
        float: none;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
        text-align: center;
    }

}

@media only screen and (max-width: 1000px)  {
    #title{
        text-align: center;
        color: white;
        font-size: 60px;
        /*font-size: 9vw;*/
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding-top: 0px;
    }

    #title-description{
        color: white;
        text-align: center;
        font-size:35px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
    .socialMediaText a{
        display: block;
        font-size: 15px;
        float: none;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
        text-align: center;
    }

}

@media only screen and (max-width:600px)  {
    #title{
        text-align: center;
        color: white;
        font-size: 55px;
        /*font-size: 9vw;*/
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding-top: 0px;
    }

    #title-description{
        color: white;
        text-align: center;
        font-size:25px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }

}