/*@media (max-aspect-ratio: 7/4) {*/
    @media only screen and (max-width: 700px)  {
        #firstPage{
            background-color: white;
            /*background-image:url(../img/web-banner-c2s-flower.jpg);*/
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100%;
        }
        #title{
            color: white;
            font-family: 'Lato', sans-serif;
            margin: 0px;
            padding-top: 30px;
        }
        #title-description{
            color: white;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            padding: 0;
            margin: 0;
        }
    
        #parentButton{
            text-align: right;
            padding-top: 30px; 
            text-decoration: none;
            padding-right: 45px;
        }  
    
        #socialMediaText{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: white;
        }
    
        #productButton{
            color: white;
            font-family: 'Lato', sans-serif;
            border-style: solid; 
            padding: 20px; 
            text-decoration: none;
        }
    
        #productButton:hover{
            background-color: #eff6f6;
            color: black;
            border-color: white;
        }
        .parentSocialMedia{
            padding-top: 0px; 
            padding-right:45px; 
            text-decoration: none;
        }
        
        .socialMedia{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: black;
        }
        
        .imageSocial{
        
        }
        .socialMediaText a{
            /*text-align:right; */
            padding-left: 10px;
            margin: 0px;
            color: white;
        }
    
        .navE a{
            color: rgb(80, 80, 80) !important;
        }
        .active a{
            color: black !important;
        }
    }