<head></head>
<body>
    <div class="uk-navbar-right" uk-sticky="animation: uk-animation-slide-top; sel-target: uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent;" id="navBar">
        <nav class="uk-navbar-container uk-navbar-right" id="navAlign">
            <div class="uk-container uk-container-expand" style="padding: 0;">
                <div uk-navbar>
                    <ul class="uk-navbar-nav" id="navBar">
                        <a href="">
                            <div class="uk-width-auto" style="text-align: center; vertical-align: middle; padding-top: 15px; background-color: transparent;">
                                <img class="" width="40" height="40" src="img/logo.svg" id ="logoBanner">
                            </div>
                        </a>
                        <li class="uk-active navE active" id="iniLi"><a href="index.html">Inicio</a></li>
                        <li class="navE" id="aboutUsLi"><a href="">Nosotros</a></li>
                        <li class="navE" id="productLi"><a href="products.html">Productos</a></li>
                        <li class="navE" id="contactLi"><a href="#">Contacto</a></li>
                    </ul>
    
                </div>
            </div>
        </nav>
    </div> 

</body>
<script>
    $(document).ready(function() { 
        displayWindowSize();
        url = getURL()
        urlSplit = url.split("/")
        page = urlSplit[urlSplit.length-1]
        //console.log(urlSplit, page)
        listNav = ["aboutUsLi", "iniLi", "productLi", "contactLi"]

        for (var i = 0; i < listNav.length; i++) {
                var nav = document.getElementById(listNav[i]);
                nav.classList.remove("active")
                nav.classList.remove("uk-active")
        }
        if(page == "index.html"){    
            var navIcon = document.getElementById("iniLi");
            navIcon.classList.add("uk-active") 
            navIcon.classList.add("active") 
        }
        if(page == "products.html"){    
            var navIcon = document.getElementById("productLi");
            navIcon.classList.add("uk-active") 
            navIcon.classList.add("active") 
        }

     });
    window.addEventListener("resize", displayWindowSize);
    
    function getURL() {
        return window.location.href;
    }
    function displayWindowSize(){
        var w = window.innerWidth;
        var h = window.innerHeight;
        //console.log(w,h, w/h)
        
        /*if(w/h < 1){*/
        if(w < 750){
            //console.log("center")
            var nav = document.getElementById("navAlign");
            nav.classList.remove("uk-navbar-right")
            nav.classList.add("uk-navbar-center")

            var logo = document.getElementById("logoBanner");
            logo.classList.remove("showStyle")
            logo.classList.add("hiddenStyle")

            var aboutUs = document.getElementById("aboutUsLi");
            aboutUs.classList.add("hiddenStyle")
            aboutUs.classList.remove("showStyle")

        } else{
            
            var nav = document.getElementById("navAlign");
            nav.classList.remove("uk-navbar-center")
            nav.classList.add("uk-navbar-right")
            
            var logo = document.getElementById("logoBanner");
            logo.classList.add("showStyle")
            logo.classList.remove("hiddenStyle") 

            var aboutUs = document.getElementById("aboutUsLi");
            aboutUs.classList.remove("hiddenStyle")
            aboutUs.classList.add("showStyle") 
        }

    }
</script>