<head></head>
<body>
    <div class="uk-child-width-1-2 uk-text-right" uk-grid id="bannerTittle1">
        <div>
            <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                <div>
                    <div class="uk-card-body"></div>
                </div>
                <div>
                    <div class="uk-card-body"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body">
                <div>
                    <p id="title">Cafeto 2 semillas</p>
                    <p id="title-description">Productos naturales de la mejor calidad en tu hogar</p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="uk-child-width-1-1 uk-text-center hiddenStyle" id = "bannerTittle2" uk-grid>
        <div>
            <div class="uk-card uk-card-body">
                <div>
                    <p id="title">Cafeto 2 semillas</p>
                    <p id="title-description">Productos naturales de la mejor calidad en tu hogar</p>
                </div>
            </div>
            
        </div>
    </div>    
</body>
<script>
    $(document).ready(function() { 
        displayWindowSize();
     });

    window.addEventListener("resize", displayWindowSize);
    function displayWindowSize(){
        var w = window.innerWidth;
        var h = window.innerHeight;
        /*if(w/h < 1){*/
        if(w < 3000){
            var elementTitle1 = document.getElementById("bannerTittle1");
            elementTitle1.classList.remove("showStyle")
            elementTitle1.classList.add("hiddenStyle")
            var elementTitle2 = document.getElementById("bannerTittle2");
            bannerTittle2.classList.remove("hiddenStyle")
            bannerTittle2.classList.add("showStyle")
        } else{
            var elementTitle1 = document.getElementById("bannerTittle1");
            elementTitle1.classList.add(" showStyle")
            elementTitle1.classList.remove("hiddenStyle")
            var elementTitle2 = document.getElementById("bannerTittle2");
            bannerTittle2.classList.remove("showStyle")
            bannerTittle2.classList.add("hiddenStyle")
        }
        
    }
</script>